/*------------------------------------*\
#STLYE GUIDE

Table of Contents
- Tools (Mixins, box-sizing, angular stuff)
- Generic (body)
- Typography
- Objects
- Responsive

Order of appearances
 @include
 background
 display
 position
 top, left, right, bottom
 height/width
 float
 overflow
 margin/padding 
 border
 font-family
 font-size
 line-height
 color
 z-index 
 	- popUp 100
 	- menu-toggle 15
 	- off-canvas 10
 	- main 5
 	- logo -5
 	- video -10
 list-style
 \*------------------------------------*/

/*------------------------------------*\
#TOOLS
\*------------------------------------*/

/* Variables */ 
$white: #ffffff;
$light: #e6e7e8;
$grey: #929294;
$dark: #111111;
$black: #000000;
$red: #ED2724;


/* Mixins */ 
@mixin fonts{
	font-family: "bebas", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

@mixin debug{
	border:solid red thin;
}

@mixin cubic{
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

/* Angular cloak */ 
[data-ng-cloak]{ display: none !important; }

/* Border Box */ 
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* Selection color */ 
::-moz-selection { background: $black; }
::selection { background: $black; }

/* Placeholder color */ 
::-webkit-input-placeholder { color: $black; }
:-moz-placeholder { color: $black; }
::-moz-placeholder { color: $black; }
:-ms-input-placeholder { color: $black; }

/* Input focus */ 
textarea:focus, input:focus{ outline: 0; }

/* Scrollbar */ 
::-webkit-scrollbar {
	width: 0.5em;
}

::-webkit-scrollbar-thumb {
	background: $red;
	-webkit-box-shadow: $red;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:$red; 
}


/* Hidden videos don't work on Firefox, so force video to show and hide video toggle button */ 
@-moz-document url-prefix(){
	.videoContainer{
		display:initial !important;
	}

	.video{
		display:none !important;
	}
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

body {
	@include fonts;
	background: url(../img/background.jpg) no-repeat center center fixed;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	font-size:16px;
	line-height:1.5;
	color:$white;
}

/*------------------------------------*\
#TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family: 'bebas';
	src: url("BebasNeue-webfont.woff");
	font-weight: normal;
	font-style: normal;
}

a{
	color:$black;
	text-decoration: none;
}

#{headings()} { 
	margin:0;
	line-height:1;
	letter-spacing:3px;
}

p{
	margin:0.5em 0;
	padding:0;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.main{
	height:100vh;
	width:50%;
	margin:0 auto;
	z-index:5;
}

.current{
	position:relative;
	height:50vh;
}

.songInfo{
	position:absolute;
	bottom:0;
}

.controls{
	position:absolute;
	margin:0;
	padding:0;
	list-style-type:none;
}

.controls_item{
	display: inline;
	padding-right:0.25em;
}

.play, .previous, .next, .mute, .shuffle, .video{
	display:inline-block;
	height:1em;
	width:1.5em;
}

.cloud{
	display:inline-block;
	height:1em;
	width:2em;
}

.play{
	background:url(../img/icons/play.svg) no-repeat;
	background-size:contain;
}

.play:hover{
	background:url(../img/icons/play-red.svg) no-repeat;
	background-size:contain;
}

.play.on{
	background:url(../img/icons/pause.svg) no-repeat;
	background-size:contain;
}

.play.on:hover{
	background:url(../img/icons/pause-red.svg) no-repeat;
	background-size:contain;
}

.previous{
	background:url(../img/icons/previous.svg) no-repeat;
	background-size:contain;
}

.previous:hover{
	background:url(../img/icons/previous-red.svg) no-repeat;
	background-size:contain;
}

.next{
	background:url(../img/icons/next.svg) no-repeat;
	background-size:contain;
}

.next:hover{
	background:url(../img/icons/next-red.svg) no-repeat;
	background-size:contain;
}

.mute{
	background:url(../img/icons/volume.svg) no-repeat;
	background-size:contain;
}

.mute:hover{
	background:url(../img/icons/volume-red.svg) no-repeat;
	background-size:contain;
}

.mute.on{
	background:url(../img/icons/volume-red.svg) no-repeat;
	background-size:contain;
}

.mute.on:hover{
	background:url(../img/icons/volume.svg) no-repeat;
	background-size:contain;
}

.shuffle{
	background:url(../img/icons/shuffle.svg) no-repeat;
	background-size:contain;
}

.shuffle:hover{
	background:url(../img/icons/shuffle-red.svg) no-repeat;
	background-size:contain;
}

.shuffle.on{
	background:url(../img/icons/shuffle-red.svg) no-repeat;
	background-size:contain;
}

.shuffle.on:hover{
	background:url(../img/icons/shuffle.svg) no-repeat;
	background-size:contain;
}

.video{
	background:url(../img/icons/video-red.svg) no-repeat;
	background-size:contain;
}

.video:hover{
	background:url(../img/icons/video-red.svg) no-repeat;
	background-size:contain;
}

.video.on{
	background:url(../img/icons/video.svg) no-repeat;
	background-size:contain;
}

.video.on:hover{
	background:url(../img/icons/video-red.svg) no-repeat;
	background-size:contain;
}

.cloud{
	background:url(../img/icons/cloud.svg) no-repeat;
	background-size:contain;
}

.cloud:hover{
	background:url(../img/icons/cloud-red.svg) no-repeat;
	background-size:contain;
}

.volume{
	background:$light;
	position:absolute;
	height:1em;
	width:14em;
}

.volume .ui-slider-range-min {
	background:$red;
	position:absolute;
	height:1em;
}

.search_form{
	position:relative;
}

.search_input{
	@include fonts;
	width:100%;
	padding:0.5em;
	text-align:center;
}

.results_list{
	background:$white;
	margin:0;
	padding:0;
	color:$black;
	list-style-type: none;
}

.results_item{
	display:block;
	padding:0 0.5em;
}

.results_item:hover{
	background:$red;
	color:$white;
}

.popUp{
	@include cubic;
	background:$red;
	position:fixed;
	z-index:100;
}

.popUpText{
	margin-right:1em;
}

.popUp.ng-hide{
	display:initial !important;
	-ms-transform: translate(150%);
	-webkit-transform: translate(150%);
	transform: translate(150%);
}

.offCanvas{
	@include cubic;
	background:$dark;
	position:fixed;
	top:0;
	height:100vh;
	width:20em;
	z-index:15;
}

.offCanvas.ng-hide{
	display: initial !important;
	-ms-transform: translate(-100%);
	-webkit-transform: translate(-100%);
	transform: translate(-100%);
}

.menuToggle{
	position:absolute;
	top:1em;
	left:1em;
	z-index:10;
}

.music{
	background:url(../img/icons/music.svg) no-repeat;
	background-size:contain;
	display:block;
	height:1.5em;
	width:1.5em;
}

.music:hover{
	background:url(../img/icons/music-red.svg) no-repeat;
	background-size:contain;
}

.section{
	background:$dark;
	width: 20em;
}

.section_title{
	height:4em;
	padding:0.5em;
	font-size:2em;
	color:$grey;
}

.playlist_list{
	position:absolute;
	top:4em;
	left:0;
	right:0;
	bottom:0;
	overflow-y:scroll;
	margin:0;
	padding:0;
	list-style-type: none;
}

.playlist_item{
	position:relative;
}

.playlist_song{
	display:block;
	width:18em;
	padding-left:1em;
}

.playlist_song:hover{
	color:$red;
}

.playlist_item:nth-child(odd) {
	background:$white;
}

.playlist_item:nth-child(even) {
	background:$light;
}

.playlist_item.active{
	background:$red;
}

.playlist_item.active a{
	color:$white;
}

.playlist_item.active a:hover{
	color:$black;
}

.clearPlaylist{
	background: $red;
	position:absolute;
	top:0.75em;
	right:0.5em;
	padding:0.25em 1em;
}

.clearPlaylist a{
	color:$white;
}

.clearPlaylist a:hover{
	color:$black;
}

.videoContainer{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:-10;
}

.logo{
	position:fixed;
	right:1em;
	bottom:1em;
	z-index:-5;
}

.logo_img{
	width:15em;
	max-width:300px;
}

.playlist_item .x, .search .x, .popUp .x{
	background:url(../img/icons/x-black.svg) no-repeat;
	background-size:contain;
	position:absolute;
	top:50%;
	right:0.5em;
	height:0.8em;
	width:0.8em;
	-ms-transform: translateY(-50%); /* IE 9 */
	-webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
	transform: translateY(-50%);
}

.active .x, .popUp .x{
	background:url(../img/icons/x-white.svg) no-repeat;
	background-size:contain;
}

.playlist_item .x:hover, .search .x:hover{
	background:url(../img/icons/x-red.svg) no-repeat;
	background-size:contain;
}

.active .x:hover, .popUp .x:hover{
	background:url(../img/icons/x-black.svg) no-repeat;
	background-size:contain;
}

.search .x{
	height:1em;
	width:1em;
}

/*------------------------------------*\
#RESPONSIVE
\*------------------------------------*/

@media all and (max-width:960px){

	h1{
		font-size:3em;
	}

	h2{
		font-size:2em;
		color:$grey;
	}
	
	.main{
		width:100%;
	}

	.songInfo{
		width:100%;
	}

	.controlsContainer{
		background:$black;
		position:relative;
		height:3em;
	}

	.controls{
		top:1em;
		right:1em;
	}

	.volume{
		top:3.5em;
		right:2em;
	}

	.offCanvas{
		width:100%;
	}

	.search_input{
		font-size:1em;
	}

	.results_list{
		font-size:1em;
		line-height:1.25;
	}

	.popUp{
		top:4em;
		right:1em;
		padding:0.5em;
	}

}

@media all and (min-width:961px){

	h1{
		font-size:5em;
	}

	h2{
		font-size:3em;
		color:$grey;
	}

	.controls{
		right:0;
		bottom:0;
	}

	.volume{
		right:0;
		bottom:2em;
	}

	.songInfo{
		width:90%;
	}

	.search_input{
		font-size:2em;
	}

	.results_list{
		font-size:1.5em;
		line-height:1.5;
	}

	.popUp{
		top:1em;
		right:1em;
		padding:1em;
	}

}